.header{
  display: flex;
  justify-content: space-between;
  border:1px solid black;
}

.logo{
  width:100px;
}

.nav-items >ul{
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li{
  padding:10px;
  margin:10px;
}

.res-card{
  width:200px;
  height:300px;
  border:1px soild black;

}

.search{
  padding:10px;
}